{% extends 'base.html' %} 
 {% block content %}
    <form method="POST"> 
        <!-- Security token by Django -->
        {% csrf_token %} 
        Are you want to delete this item ? 
        <input type="submit" value="Yes" /> 
        <a href="/">Cancel </a> 
    </form> 
 {% endblock  %}