<h1>edit</h1>
 {% extends 'base.html' %} 
 {% block content %}
   <form method="POST"> 
        <!-- Security token by Django -->
        {% csrf_token %} 
  
        <!-- form as paragraph -->
        {{ form.as_p }} 
  
        <input type="submit" value="Update"> 
    </form> 
  

 {% endblock content%}